html,
body {
  padding: 0;
  margin: 0;
  /*background-image: linear-gradient(#0D1936, #373458, #64507b, #64507b, #373458, #0d1936);*/
  font-family: Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: linear-gradient(-45deg, #a663cc, #b298dc, #b8d0eb, #b9faf8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 200vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.btn {
  position: relative;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn:hover {
  background-color: black;
  color: white !important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 200px;
  padding-bottom: 10px;
  position: relative;
}

.text-beige {
  color: #EDE6DB !important;
}

.text-green {
  color: #f2b108 !important;
}

.btn-green {
  background-color: #b9faf8 !important;
}

.bg-opal {
  background-color: #b8c6bd !important;
}

.img-circle {
  border-radius: 50%;
}

.text-neon {
  color: #b9faf8 !important;
}

.text-offneon {
  color: #b8d0eb !important;
}


.text-pink {
  color: #a663cc !important;
}

.text-pink2 {
  color: #946e9d !important;
}

.text-purple {
  color: #6f2dbd !important;
}

.text-violet {
  color: #0d1936 !important;
}



